html{
  font-family: Helvetica;
  text-align: center;
  }
.hero {
  font-weight: bold;
  color: white;
  background-image: url(images/TRideTreeBackground.png)

  /*url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
*/
}
.hero h1 {
  font-size: 70px;
}
.btn-nav {
  font-size: 18px;
  color: white;
  text-decoration: none;
}
a:hover {
  text-shadow: 2px 2px darkgray;
}
h1, h2, h3 {
  font-weight: bold;
}
.supporting h2 {
  font-size: 32px;
}
.supporting h3 {
  font-size: 23px;
}
.supporting-item p {
  font-size: 14px;
}
.footer {
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
@@media only screen and (max-wdith: 1280px) {
html {
  max-width: 90%;
}
}
body{
max-width: 1080px;
margin: 0 auto !important;
float: none !important;
}
