html{
  font-family: Helvetica;
  text-align: center;
  }
.hero {
  font-weight: bold;
  color: white;
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}
.hero h1 {
  font-size: 70px;
}
.btn-nav {
  font-size: 18px;
  color: white;
}
h1, h2, h3 {
  font-weight: bold;
}
.supporting h2 {
  font-size: 32px;
}
.supporting h3 {
  font-size: 23px;
}
.supporting-item p {
  font-size: 14px;
}
.footer {
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
